*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root {
    --GreenColor: #00b39b;
    --headerGreyColor: #ababab;
    --greenCardColor: #00ccb1;
    --blueCardColor: #3d83df;
    --darkCardColor: #1b2734;
    --buttonColor: #3d83df;
    --paragraphColor: #747474;
    --whiteColor: white;
    --statColor: #e5faf8;
}
::selection {
    background: #00b39b;
    color: #fff;
    text-shadow: none;
}
.Header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background: hsla(0,0%,100%,.98);
    transition: box-shadow .25s ease 0s;
}
.App{
    font-weight: 400;
    font-family: Roboto,Arial,sans-serif;
    color: #747474;
    padding-top: 70px;
    -webkit-font-smoothing: antialiased;
}
